<header>
  <ul>
    <!--<li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre mi</a></li>-->
    <li><a [routerLink]="['/crear']"[routerLinkActive]="['actived']">Crear persona</a></li>
    <li id="logo"><a>SV</a></li>
    <li><a [routerLink]="['/proyectos']"[routerLinkActive]="['actived']">Personas</a></li>
    <!--<li><a [routerLink]="['/contacto']"[routerLinkActive]="['actived']">Contacto</a></li>-->
  </ul>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
</footer>