<div id="title">
    <h1>{{title}}</h1>
    <hr>
    <h3>{{subtitle}}</h3>
    <p>{{email}}</p>
</div>

<article class="about">
    <h3>Sobre mi</h3>
    <hr>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in sem sed eros malesuada fermentum sed a augue. Sed varius dapibus purus, non venenatis erat cursus sollicitudin. Praesent fermentum tortor leo, et convallis magna dictum a. Nam varius libero sit amet dui ullamcorper, vel congue est ornare. Aliquam porttitor dolor nec quam auctor, egestas placerat magna vulputate. Duis vitae tellus at nulla tincidunt finibus. Ut consectetur elit quis orci tincidunt, et facilisis lorem pellentesque. Nam cursus, lorem a mollis congue, urna nulla fermentum libero, nec elementum sapien est vitae eros. Vestibulum ut elit in ante egestas blandit.
    </p>
</article>