<!--<div *ngIf="project">
    <h2>Hola mundo</h2>
</div> 

<div *ngIf="!project">
    <h2 >Holi</h2>
</div> -->
<div class="container" *ngIf="project">

	
	<div class="data">
		<div>
			<h1>{{project.name}}</h1>
			<h3>{{project.lastName}}</h3>
			<p>{{project.age}}</p>
		</div>
		<p *ngIf="confirm == false">
			<a [routerLink]="['/editar-proyecto', project._id]" class="button-edit">Editar</a>
			<a (click)="setConfirm(true)" class="button-delete">Borrar</a>
		</p>

		<p *ngIf="confirm == true" >
			¿Estas seguro de eliminar este proyecto? <br>
			<a (click)="setConfirm(false)" class="button-edit">Cancelar</a>
			<a (click)="deleteProject(project._id)" class="button-delete">Eliminar</a>
		</p>
	</div>
</div>