<div class="container">
    <h1>Contacto</h1>
    <hr>
    <div id="texto" #textos>
        <p appResaltado>
            Esta es la pagina de contacto, puede enviarnos cualquier duda
        </p>
    </div>
    <!--
    <input type="number" [(ngModel)]="widthSlider" (keyup.enter)="cargarSlider()">

    <div *ngIf="anchuraToSlider">
        <app-slider [anchura]="anchuraToSlider" (getAutor)="getAutor1($event)"></app-slider>
    </div>

    <div *ngIf="autor">{{autor.nombre + " " + autor.edad}}</div>-->
</div>