<div class="container" *ngIf="project">
	<h2>Ingresar Persona</h2>

	<div class="message success" *ngIf="status == 'success'">
		La Persona se ha creado correctamente, puedes <a [routerLink]="['/proyecto', save_project._id]">verlo aquí</a>
	</div>

	<div class="message failed" *ngIf="status == 'failed'">
		La Persona NO SE HA PODIDO CREAR
	</div>

	<form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
		<p>
			<label for="name">Nombre</label>
			<input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" required />
			<span class="form_error" *ngIf="name.touched && !name.valid">
				El nombre es obligatorio
			</span>
		</p>

		<p>
			<label for="lastName">Apellidos</label>
			<input type="text" name="lastName" #lastName="ngModel" [(ngModel)]="project.lastName" required />
			<span class="form_error" *ngIf="lastName.touched && !lastName.valid">
				La Apellidos es obligatoria
			</span>
		</p>

		<p>
			<label for="age">Años</label>
			<input type="number" name="age" #age="ngModel" [(ngModel)]="project.age" />
		</p>

	

		<input type="submit" value="Enviar" [disabled]="!projectForm.form.valid" />
	</form>
</div>